<div class="grid-container">
    <div class="big-pic">
        <img src="/contact/image1.png">
    </div>
    <div class="cell">
        <h2>R-bouw</h2>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
            a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
            remaining essentially unchanged. </p>
        <p>It was popularised in the 1960s with the release of Letraset sheets containing
            Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions
            of Lorem Ipsum.
        </p>
        <div class="footer">
            <span class="phone">+32 (0) 477186583</span>
            <span class="location">Based in Antwerp</span>
            <span class="email">pim.eggermont at hotmail dot com</span>
            <span class="credits">Website created by Pim</span>
        </div>
    </div>
</div>
