.grid-container {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 1rem;
    padding: 2rem 0;

    .big-grid {
        //border: 1px blue solid;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3;
        aspect-ratio: 6/9;
        overflow: hidden;
    }

    .text-grid {
        //border: 1px black solid;
        grid-column-start: 4;
        grid-column-end: 7;
        grid-row-start: 2;
        grid-row-end: 2;
        overflow: hidden;
        text-align: justify;
    }

    .small-grid {
        //border: 1px red solid;
        aspect-ratio: 6/9;
        overflow: hidden;
        flex-direction: row;
    }


    img {
        max-width: 150%
    }
}
