/* You can add global styles to this file, and also import other style files */

:root {

  // font
  --font-family: inter;
  --font-title: 2rem;
  --font-text: 1.2rem;

  // color
  --color-primary: #690D12;
  --color-secondary: #FFFF;
}
